<form action="/posts/add" method="POST">
    <label >
      Text: <input type="text" name="text">
    </label>
    <label >
      DAta: <input type="text" name="data">
    </label>
    <label >
      IMG: <input type="text" name="img">
    </label>
    <label >
      UserNick: <input type="text" name="userNick">
    </label>
    <label >
      poster category: <input type="text" name="category">
    </label>  
 
    <input type="submit" value="Add post">
</form>
