<%for(coment of coments){%>
  <div>Text: <%= coment.cText%>
  </div>
  <div>Nick: <%= coment.userNick%>
  </div>
  <div>Post ID: <%= coment.post_id%>
  </div>
  

  <a href=<%=`/coments/delete/${coment._id}` %> > Delete</a>
  <hr />
  <%}%>